
#hero {
  background: url('/assets/bg.jpg') no-repeat;
  background-size: cover;
  background-position: 0 60%;
}
body{
  background-color: #1d1e1f;
  color: #fff;
}

#logo{
  color:#ba0000;
}

.nav-link{
  color: #ba0000;
}

.navbar{
  width: 100%;
  background: none !important;
  @media(max-width: 34em){
    background: black !important;
  }
  .navbar-toggler{
    cursor: pointer;
    outline: 0;
  }
  .nav-link{
    text-transform: uppercase;
    font-weight: bold;
  }
  .nav-item {
    padding:0 1rem;
    @media(max-width: 34em){
      padding: 0;
    }
    .nav-link{
      @media(max-width: 34em){
        font-weight: normal;
        color: #fff !important;
      }
    }
  }

}
h1{
  font-weight: bold;
  font-size: 3.5em;
}
.hero-img{
  width: 80%;
}
.feature-wrapper{
  background-color: #17FFC4;
  color: #000;
}


